<h1>About Us</h1>
<p>The Boston Celtics are a professional basketball team based in Boston, Massachusetts. The Celtics compete in the National Basketball Association (NBA) as a member of the league's Eastern Conference Atlantic Division.

The franchise's 17 championships are the most of any NBA team, and account for 24.3 percent of all NBA championships since the league's founding in 1946.

As a percentage of championships won, the Celtics are the most successful franchise to date in the major four traditional North American professional sports leagues.</p>
